<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="container" style="height: auto;">
        <main>
            <h4 class="pt-3 text-center pb-2 font-weight-bold">About This App</h4>
            <p class="text-justify">
                <tab1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac rutrum magna, id eleifend
                    quam.
                    Sed dapibus sem turpis, sit amet malesuada nibh laoreet ut. Vestibulum posuere, nibh a scelerisque
                    suscipit, justo magna consectetur dui, a dapibus neque libero sed dui. Nulla volutpat vestibulum
                    scelerisque. Etiam commodo fringilla lorem a venenatis. Cras blandit lacus dolor, et malesuada mi
                    pharetra eget. Mauris tristique justo id justo accumsan, id euismod sem tincidunt. In ut mi nunc.
                    Donec
                    nec elementum nisl. Vestibulum nec ipsum accumsan nisl condimentum sagittis. Morbi turpis risus,
                    congue
                    ut mollis at, dictum sed arcu. Praesent eget sagittis ligula. In at vulputate sem, et dictum arcu.
                    Nulla
                    sed libero consequat, tempus felis eget, auctor quam.</tab1>
            </p>

            <p>
                <tab1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac rutrum magna, id eleifend
                    quam.
                    Sed dapibus sem turpis, sit amet malesuada nibh laoreet ut. Vestibulum posuere, nibh a scelerisque
                    suscipit, justo magna consectetur dui, a dapibus neque libero sed dui. Nulla volutpat vestibulum
                    scelerisque. </tab1>
            </p>

            <p>
                <tab1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac rutrum magna, id eleifend
                    quam.
                    Sed dapibus sem turpis, sit amet malesuada nibh laoreet ut. Vestibulum posuere, nibh a scelerisque
                    suscipit, justo magna consectetur dui, a dapibus neque libero sed dui. Nulla volutpat vestibulum
                    scelerisque.
                    nec elementum nisl. Vestibulum nec ipsum accumsan nisl condimentum sagittis. Morbi turpis risus,
                    congue
                    ut mollis at, dictum sed arcu. Praesent eget sagittis ligula. In at vulputate sem, et dictum arcu.
                    Nulla
                    sed libero consequat, tempus felis eget, auctor quam </tab1>
            </p>


            <h4 class="pt-3 text-center pb-2 font-weight-bold">About Me</h4>
            <p class="text-justify">
                <tab1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac rutrum magna, id eleifend
                    quam.
                    Sed dapibus sem turpis, sit amet malesuada nibh laoreet ut. Vestibulum posuere, nibh a scelerisque
                    suscipit, justo magna consectetur dui, a dapibus neque libero sed dui. Nulla volutpat vestibulum
                    scelerisque. Etiam commodo fringilla lorem a venenatis. Cras blandit lacus dolor, et malesuada mi
                    pharetra eget. Mauris tristique justo id justo accumsan, id euismod sem tincidunt. In ut mi nunc.
                    Donec
                    nec elementum nisl. Vestibulum nec ipsum accumsan nisl condimentum sagittis. Morbi turpis risus,
                    congue
                    ut mollis at, dictum sed arcu. Praesent eget sagittis ligula. In at vulputate sem, et dictum arcu.
                    Nulla
                    sed libero consequat, tempus felis eget, auctor quam.</tab1>
            </p>

            <p>
                <tab1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac rutrum magna, id eleifend
                    quam.
                    Sed dapibus sem turpis, sit amet malesuada nibh laoreet ut. Vestibulum posuere, nibh a scelerisque
                    suscipit, justo magna consectetur dui, a dapibus neque libero sed dui. Nulla volutpat vestibulum
                    scelerisque. </tab1>
            </p>
        </main>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>