<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="container" style="height: auto;">
        <main>
            <h4 class="pt-3 text-center pb-2 font-weight-bold">Tentang Aplikasi Ini</h4>
            <p class="text-justify">
                <tab1>Klasifikasi Potensi Jantung Koroner adalah sebuah aplikasi yang akan melakukan klasifikasi potensi
                    menderita atau tidak
                    menderita penyakit jantung koroner berdasarkan data rekam medis. demografi dan pola hidup dengan
                    menerapkan artificial intelligence berbasis back propagatiion neural network. aplikasi ini dibangun
                    untuk mempermudah masyarakat umum agar mendapatkan akses untuk melakukan tracing terhadap potensi
                    menderita penyakit jantung koroner </tab1>
            </p>

            <p>
                <tab1>aplikasi ini dapat melakukan klasifikasi dengan tingkat akurasi mencapai 75% berdasarkan data yang
                    tersedia melalui website kaggle. aplikasi ini dibangun menggunakan Back propagatiion Neural Network
                    dengan tensorflow dengan bahasa pemograman python dan javascript untuk membangun website . source
                    code
                    aplikasi ini dapat dilihat pada <a href="https://github.com">github</a>.
                    penggunaan aplikasi ini juga dapat dilakukan pada page bantuan atau melalui <a href="/">url
                        berikut</a>, untuk penggunaan, user dapat mengikuti
                    petunjuk yang tersedia pada tab manual </tab1>
            </p>

            <p>
                <tab1>Pembangunan aplikasi ini diharapkan dapat
                    memberikan masyarakat luas akses untuk mengenal lebih tentang penyakit jantung koroner tanpa harus
                    melalui tenaga medis yang kemungkinan tidak semua kalangan masyarakat memiliki kemampuan untuk
                    konsultasi ke tenaga medis. penerapan Artificial Intelligence dapat berfokus untuk
                    melakukan prediksi tanpa menggantikan peran seorang tenaga medis.</tab1>
            </p>


        </main>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>