<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <div class="container">
    <main>
      <h4 class="pt-3 text-center pb-2 font-weight-bold">Penyakit Jantung Koroner</h4>
      <span><i>penyakit jantung koroner atau yang dikenal juga sebagai penyakit jantung arteriosklerosis, Penyakit
          arteri koroner atau penyakit jantung iskemik</i></span>
      <span>
        <p> </p>
      </span>
      <p class="text-justify">
        <tab1>Penyakit jantung koroner adalah kondisi ketika pembuluh darah utama yang memberi pasokan darah, oksigen,
          dan nutrisi untuk jantung menjadi rusak. Biasanya, kondisi ini disebabkan oleh plak kolesterol dan proses
          peradangan. Penyakit jantung koroner terjadi ketika aliran darah ke jantung terhambat. Banyak faktor yang bisa
          meningkatkan risiko tersebut, antara lain merokok, menjalani pola makan yang tidak sehat, atau menderita
          penyakit tertentu, seperti tekanan darah tinggi dan kolesterol tinggi.

          Penyakit jantung koroner dapat ditandai dengan gejala sesak napas, lemas, dan nyeri dada yang menjalar ke
          lengan atau punggung. Jika tidak segera ditangani, penyakit jantung koroner dapat menyebabkan serangan
          jantung, gangguan irama jantung, atau gagal jantung.
        </tab1>
      </p>

      <a href="https://id.wikipedia.org/wiki/Penyakit_jantung_koroner" target="1">Pelajari lebih lanjut</a>

      <h4 class="pt-3 text-center pb-2 font-weight-bold">Manual Pengguna</h4>
      <p class="text-justify">
        <tab1>
          Aplikasi ini dibangun untuk melakukan proses klasifikasi potensi terhadap penyakit jantung koroner. potensi
          yang dapat diklasifikasikan oleh aplikasi ini hanya berupa BERPOTENSI dan TIDAK BERPOTENSI berserta dengan
          tingkat keyakinannya.
          Pengguna dapat menggunakan aplikasi ini dengan mengakses <a href="/"> url ini</a> atau dengan berpindah ke
          tab beranda. pada halaman beranda, Pengguna dapat mengisikan data-data rekam medis, demografi dan pola hidup
          sesuai dengan petunjuk yang telah diterakan pada halaman tersebut.
          setelah selesai melakukan input, user dapat melakukan submit data yang akan memanggil proses klasifikasi dan
          akan menampilkan hasil dari klasifikasinya
          pada layar anda.
          catatan, Aplikasi ini tidak merekam data yang anda masukan
        </tab1>
      </p>

      <h4 class="pt-3 text-center pb-2 font-weight-bold">Penjelasan Data Input</h4>


      <div id="accordion">
        <div class="card">
          <div class="card-header" id="heading-gender">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-gender" aria-expanded="true"
                aria-controls="collapse-gender">
                Jenis Kelamin
              </button>
            </h5>
          </div>

          <div id="collapse-gender" class="collapse" aria-labelledby="heading-gender" data-parent="#accordion">
            <div class="card-body">
              <tab1>form input jenis kelamin dapat dicentang sesuai dengan jenis kelamin anda</tab1>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading-consume-bpmed">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-consume-bpmed"
                aria-expanded="false" aria-controls="collapse-consume-bpmed">
                Mengkonsumsi Obat Tekanan Darah
              </button>
            </h5>
          </div>
          <div id="collapse-consume-bpmed" class="collapse" aria-labelledby="heading-consume-bpmed"
            data-parent="#accordion">
            <div class="card-body">
              <tab1>form Mengkonsumsi Obat Tekanan Darah merupakan input form untuk apakah anda sedang menkonsumsi rutin
                obat tekanan darah, isi dengan ya bila sedang rutin mengkonsumsi dan tidak apabila tidak sedang
                mengkonsumsi obat tekanan darah </tab1>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading-stroke-prevalent">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-stroke-prevalent"
                aria-expanded="false" aria-controls="collapse-stroke-prevalent">
                Memiliki Riwayat Stroke
              </button>
            </h5>
          </div>
          <div id="collapse-stroke-prevalent" class="collapse" aria-labelledby="heading-stroke-prevalent"
            data-parent="#accordion">
            <div class="card-body">
              <tab1>Mengkonsumsi Obat Tekanan Darah adalah input form untuk apakah anda sedang memiliki riwayat penyakit
                stroke, isi
                dengan ya bila memiliki riwayat dan tidak apabila tidak memiliki riwayat penyakit stroke.</tab1>
            </div>
          </div>
        </div>

        <div id="accordion">
          <div class="card">
            <div class="card-header" id="heading-hypertension-prevalent">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-hypertension-prevalent"
                  aria-controls="collapse-hypertension-prevalent">
                  Memiliki Riwayat Hipertensi
                </button>
              </h5>
            </div>

            <div id="collapse-hypertension-prevalent" class="collapse " aria-labelledby="heading-hypertension-prevalent"
              data-parent="#accordion">
              <div class="card-body">
                <tab1>Memiliki Riwayat Hipertensi adalah input form untuk apakah anda sedang memiliki riwayat penyakit
                  hypertensi, isi dengan ya bila memiliki riwayat hipertensi dan tidak apabila tidak memiliki riwayat
                  penyakit hipertensi.</tab1>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-diabetic-prevalent">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-diabetic-prevalent"
                  aria-expanded="false" aria-controls="collapse-diabetic-prevalent">
                  Memiliki Riwayat Diabetes
                </button>
              </h5>
            </div>
            <div id="collapse-diabetic-prevalent" class="collapse" aria-labelledby="heading-diabetic-prevalent"
              data-parent="#accordion">
              <div class="card-body">
                <tab1>Memiliki Riwayat Diabetes adalah input form untuk apakah anda sedang memiliki riwayat penyakit
                  diabetes, isi dengan ya bila memiliki riwayat diabtes dan tidak apabila tidak memiliki riwayat penyakit
                  diabtes.</tab1>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-is-smoking">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-is-smoking"
                  aria-expanded="false" aria-controls="collapse-is-smoking">
                  Perokok Aktif
                </button>
              </h5>
            </div>
            <div id="collapse-is-smoking" class="collapse" aria-labelledby="heading-is-smoking"
              data-parent="#accordion">
              <div class="card-body">
                <tab1>Perokok Aktif adalah input form untuk apakah anda seorang perokok aktif, isilah dengna ya jika
                  anda merupakan pekok aktif dan tidak apabila anda bukanlah perokok aktif.</tab1>
              </div>
            </div>
          </div>

          <div id="accordion">
            <div class="card">
              <div class="card-header" id="heading-num-of-cigs">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-num-of-cigs"
                    aria-controls="collapse-num-of-cigs">
                    Rata-rata Konsumsi Rokok Perhari
                  </button>
                </h5>
              </div>

              <div id="collapse-num-of-cigs" class="collapse " aria-labelledby="heading-num-of-cigs"
                data-parent="#accordion">
                <div class="card-body">
                  <tab1>Rata-rata Konsumsi Rokok Perhari adalah input form untuk berapa jumlah rata rata konsumsi rokok
                    perhari, form
                    ini hanya aktif apabila anda mencentang anda seorang perkokok.</tab1>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-cholesterol-level">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapse-cholesterol-level" aria-expanded="false"
                    aria-controls="collapse-cholesterol-level">
                    LDL kolesterol
                  </button>
                </h5>
              </div>
              <div id="collapse-cholesterol-level" class="collapse" aria-labelledby="heading-cholesterol-level"
                data-parent="#accordion">
                <div class="card-body">
                  <tab1>LDL kolesterol adalah input form untuk tingkat kolesterol LDL atau disebut juga koresterol
                    jahat. isilah sesuai dengan tingkat kolesterol LDL anda. untuk tingkat kolesterol LDL yang baik
                    berkisar kurang dari 100 mg/dl.
                    .</tab1>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-sistolic-bp">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-sistolic-bp"
                    aria-expanded="false" aria-controls="collapse-sistolic-bp">
                    Tekanan Darah Sistolik
                  </button>
                </h5>
              </div>
              <div id="collapse-sistolic-bp" class="collapse" aria-labelledby="heading-sistolic-bp"
                data-parent="#accordion">
                <div class="card-body">
                  <tab1>Tekanan Darah Sistolik adalah input form untuk nilai tekanan darah sistolik anda yakni tekanan
                    saat jantung memompa darah ke seluruh tubuh.
                    Tekanan Darah Sistolik normal berkisar dibawah 120 mmHg, Tekanan Darah Sistolik berpotensi berkisar
                    antara 120–139 mmHg dan
                    Tekanan Darah Sistolik tinggi berkisar 140 mmHg atau lebih</tab1>
                </div>
              </div>
            </div>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="heading-diastolic-bp">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-diastolic-bp"
                      aria-controls="collapse-diastolic-bp">
                      Tekanan Darah Diastolik
                    </button>
                  </h5>
                </div>

                <div id="collapse-diastolic-bp" class="collapse " aria-labelledby="heading-diastolic-bp"
                  data-parent="#accordion">
                  <div class="card-body">
                    <tab1>
                      Tekanan Darah Sistolik adalah input form untuk nilai tekanan darah sistolik anda, yakni tekanan
                      saat otot jantung relaksasi dan menerima darah yang kembali dari seluruh tubuh.
                      Tekanan Darah Sistolik normal berkisar dibawah 80 mmHg, Tekanan Darah Sistolik berpotensi
                      berkisar
                      antara 80–89 mmHg dan
                      Tekanan Darah Sistolik tinggi berkisar 90 mmHg atau lebih
                      <tab1 />
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-glucose-level">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-glucose-level"
                      aria-expanded="false" aria-controls="collapse-glucose-level">
                      Tingkat Glukosa Darah
                    </button>
                  </h5>
                </div>
                <div id="collapse-glucose-level" class="collapse" aria-labelledby="heading-glucose-level"
                  data-parent="#accordion">
                  <div class="card-body">
                    <tab1>Tingkat Glukosa Darah adalah form untuk tingkat glukosa darah anda 2 jam setelah makan. Kadar
                      gula darah adalah
                      banyaknya zat gula atau glukosa di dalam darah. Meskipun senantiasa mengalami perubahan, kadar
                      gula darah perlu dijaga dalam batas normal agar tidak terjadi gangguan di dalam tubuh. kadar gula
                      darah normal adalah kurang dari 140 mg/dL. Batasan ini berlaku untuk orang berusia
                      di bawah 50 tahun.
                      Bagi orang yang berusia 50-60 tahun, kadar normalnya adalah kurang dari 150 mg/dL.
                      Sedangkan pada orang berusia 60 tahun ke atas, kadar gula darah normal adalah 160 mg/dL.
                    </tab1>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-heart-rate">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-heart-rate"
                      aria-expanded="false" aria-controls="collapse-heart-rate">
                      Rata-rata Detak Jantung
                    </button>
                  </h5>
                </div>
                <div id="collapse-heart-rate" class="collapse" aria-labelledby="heading-heart-rate"
                  data-parent="#accordion">
                  <div class="card-body">
                    <tab1>Rata-rata Detak Jantung adalah form untuk mengisi rata-rata detak jantung per menit. Detak
                      jantung istirahat normal untuk orang
                      dewasa, termasuk orang dewasa yang lebih tua, adalah antara 50 dan 100 denyut per menit (bpm).
                      Sementara itu, atlet yang sangat terlatih mungkin memiliki detak jantung istirahat di bawah 60
                      bpm, terkadang mencapai 40 bpm.
                    </tab1>
                  </div>
                </div>
              </div>
            </div>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="heading-height">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-height"
                      aria-controls="collapse-height">
                      Tinggi
                    </button>
                  </h5>
                </div>

                <div id="collapse-height" class="collapse " aria-labelledby="heading-height" data-parent="#accordion">
                  <div class="card-body">
                    <tab1> tinggi badan dalam satuan centimeter.
                    </tab1>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-weight">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-weight"
                      aria-expanded="false" aria-controls="collapse-weight">
                      Berat
                    </button>
                  </h5>
                </div>
                <div id="collapse-weight" class="collapse" aria-labelledby="heading-weight" data-parent="#accordion">
                  <div class="card-body">
                    <tab1>berat badan dalam satuan kilogram.
                    </tab1>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-age">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-age"
                      aria-expanded="false" aria-controls="collapse-age">
                      Umur
                    </button>
                  </h5>
                </div>
                <div id="collapse-age" class="collapse" aria-labelledby="heading-age" data-parent="#accordion">
                  <div class="card-body">
                    <tab1>usia dalam satuan tahun.
                    </tab1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>