<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <div class="container">
    <main>
      <h4 class="pt-3 text-center pb-2 font-weight-bold">Coronary Heart Disease</h4>
      <p class="text-justify">
        <tab1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac rutrum magna, id eleifend
          quam.
          Sed dapibus sem turpis, sit amet malesuada nibh laoreet ut. Vestibulum posuere, nibh a scelerisque
          suscipit, justo magna consectetur dui, a dapibus neque libero sed dui. Nulla volutpat vestibulum
          scelerisque. Etiam commodo fringilla lorem a venenatis. Cras blandit lacus dolor, et malesuada mi
          pharetra eget. Mauris tristique justo id justo accumsan, id euismod sem tincidunt. In ut mi nunc.
          Donec
          nec elementum nisl. Vestibulum nec ipsum accumsan nisl condimentum sagittis. Morbi turpis risus,
          congue
          ut mollis at, dictum sed arcu. Praesent eget sagittis ligula. In at vulputate sem, et dictum arcu.
          Nulla
          sed libero consequat, tempus felis eget, auctor quam.</tab1>
      </p>

      <h4 class="pt-3 text-center pb-2 font-weight-bold">User Manual</h4>
      <p class="text-justify">
        <tab1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac rutrum magna, id eleifend
          quam.
          Sed dapibus sem turpis, sit amet malesuada nibh laoreet ut. Vestibulum posuere, nibh a scelerisque
          suscipit, justo magna consectetur dui, a dapibus neque libero sed dui. Nulla volutpat vestibulum
          scelerisque. Etiam commodo fringilla lorem a venenatis. Cras blandit lacus dolor, et malesuada mi
          pharetra eget. Mauris tristique justo id justo accumsan, id euismod sem tincidunt. In ut mi nunc.
          Donec
          nec elementum nisl. Vestibulum nec ipsum accumsan nisl condimentum sagittis. Morbi turpis risus,
          congue
          ut mollis at, dictum sed arcu. Praesent eget sagittis ligula. In at vulputate sem, et dictum arcu.
          Nulla
          sed libero consequat, tempus felis eget, auctor quam.</tab1>
      </p>

      <h4 class="pt-3 text-center pb-2 font-weight-bold">Input Variables</h4>
      <p class="text-justify">
        <tab1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac rutrum magna, id eleifend
          quam.
          Sed dapibus sem turpis, sit amet malesuada nibh laoreet ut. Vestibulum posuere, nibh a scelerisque
          suscipit, justo magna consectetur dui, a dapibus neque libero sed dui. Nulla volutpat vestibulum
          scelerisque. Etiam commodo fringilla lorem a venenatis. Cras blandit lacus dolor, et malesuada mi
          pharetra eget .</tab1>
      </p>

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="heading-gender">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-gender" aria-expanded="true"
                aria-controls="collapse-gender">
                Gender
              </button>
            </h5>
          </div>

          <div id="collapse-gender" class="collapse" aria-labelledby="heading-gender" data-parent="#accordion">
            <div class="card-body">
              <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</tab1>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading-consume-bpmed">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-consume-bpmed"
                aria-expanded="false" aria-controls="collapse-consume-bpmed">
                Consume Blood Pressure Medicine
              </button>
            </h5>
          </div>
          <div id="collapse-consume-bpmed" class="collapse" aria-labelledby="heading-consume-bpmed"
            data-parent="#accordion">
            <div class="card-body">
              <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</tab1>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading-stroke-prevalent">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-stroke-prevalent"
                aria-expanded="false" aria-controls="collapse-stroke-prevalent">
                Stroke History
              </button>
            </h5>
          </div>
          <div id="collapse-stroke-prevalent" class="collapse" aria-labelledby="heading-stroke-prevalent"
            data-parent="#accordion">
            <div class="card-body">
              <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</tab1>
            </div>
          </div>
        </div>

        <div id="accordion">
          <div class="card">
            <div class="card-header" id="heading-hypertension-prevalent">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-hypertension-prevalent"
                  aria-controls="collapse-hypertension-prevalent">
                  Hypertension History
                </button>
              </h5>
            </div>

            <div id="collapse-hypertension-prevalent" class="collapse " aria-labelledby="heading-hypertension-prevalent"
              data-parent="#accordion">
              <div class="card-body">
                <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</tab1>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-diabetic-prevalent">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-diabetic-prevalent"
                  aria-expanded="false" aria-controls="collapse-diabetic-prevalent">
                  Diabetic History
                </button>
              </h5>
            </div>
            <div id="collapse-diabetic-prevalent" class="collapse" aria-labelledby="heading-diabetic-prevalent"
              data-parent="#accordion">
              <div class="card-body">
                <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</tab1>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-is-smoking">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-is-smoking"
                  aria-expanded="false" aria-controls="collapse-is-smoking">
                  Is Smoker
                </button>
              </h5>
            </div>
            <div id="collapse-is-smoking" class="collapse" aria-labelledby="heading-is-smoking"
              data-parent="#accordion">
              <div class="card-body">
                <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</tab1>
              </div>
            </div>
          </div>

          <div id="accordion">
            <div class="card">
              <div class="card-header" id="heading-num-of-cigs">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-num-of-cigs"
                    aria-controls="collapse-num-of-cigs">
                    Average Cigs Per Day
                  </button>
                </h5>
              </div>

              <div id="collapse-num-of-cigs" class="collapse " aria-labelledby="heading-num-of-cigs"
                data-parent="#accordion">
                <div class="card-body">
                  <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                    3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</tab1>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-cholesterol-level">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapse-cholesterol-level" aria-expanded="false"
                    aria-controls="collapse-cholesterol-level">
                    Cholesterol Level
                  </button>
                </h5>
              </div>
              <div id="collapse-cholesterol-level" class="collapse" aria-labelledby="heading-cholesterol-level"
                data-parent="#accordion">
                <div class="card-body">
                  <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                    3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</tab1>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-sistolic-bp">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-sistolic-bp"
                    aria-expanded="false" aria-controls="collapse-sistolic-bp">
                    Sistolic Blood Pressure
                  </button>
                </h5>
              </div>
              <div id="collapse-sistolic-bp" class="collapse" aria-labelledby="heading-sistolic-bp"
                data-parent="#accordion">
                <div class="card-body">
                  <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                    3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</tab1>
                </div>
              </div>
            </div>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="heading-diastolic-bp">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-diastolic-bp"
                      aria-controls="collapse-diastolic-bp">
                      Diastolic Blood Pressure
                    </button>
                  </h5>
                </div>

                <div id="collapse-diastolic-bp" class="collapse " aria-labelledby="heading-diastolic-bp"
                  data-parent="#accordion">
                  <div class="card-body">
                    <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf
                      moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                      shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea
                      proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                      denim
                      aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </tab1>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-glucose-level">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-glucose-level"
                      aria-expanded="false" aria-controls="collapse-glucose-level">
                      Glucose Level
                    </button>
                  </h5>
                </div>
                <div id="collapse-glucose-level" class="collapse" aria-labelledby="heading-glucose-level"
                  data-parent="#accordion">
                  <div class="card-body">
                    <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf
                      moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                      shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea
                      proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                      denim
                      aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </tab1>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-heart-rate">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-heart-rate"
                      aria-expanded="false" aria-controls="collapse-heart-rate">
                      Heart Rate
                    </button>
                  </h5>
                </div>
                <div id="collapse-heart-rate" class="collapse" aria-labelledby="heading-heart-rate"
                  data-parent="#accordion">
                  <div class="card-body">
                    <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf
                      moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                      shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea
                      proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                      denim
                      aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </tab1>
                  </div>
                </div>
              </div>
            </div>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="heading-height">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-height"
                      aria-controls="collapse-height">
                      Height
                    </button>
                  </h5>
                </div>

                <div id="collapse-height" class="collapse " aria-labelledby="heading-height" data-parent="#accordion">
                  <div class="card-body">
                    <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf
                      moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                      shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea
                      proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                      denim
                      aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </tab1>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-weight">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-weight"
                      aria-expanded="false" aria-controls="collapse-weight">
                      Weight
                    </button>
                  </h5>
                </div>
                <div id="collapse-weight" class="collapse" aria-labelledby="heading-weight" data-parent="#accordion">
                  <div class="card-body">
                    <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf
                      moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                      shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea
                      proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                      denim
                      aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </tab1>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-age">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-age"
                      aria-expanded="false" aria-controls="collapse-age">
                      Age
                    </button>
                  </h5>
                </div>
                <div id="collapse-age" class="collapse" aria-labelledby="heading-age" data-parent="#accordion">
                  <div class="card-body">
                    <tab1>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                      squid. 3
                      wolf
                      moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                      shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea
                      proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                      denim
                      aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </tab1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>