<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <script>
    $(document).ready(function () {
      $('input[type=radio]').click(function () {
        if (this.id == "form-is-smoking-yes") {
          $('#form-num-of-cigs').val('');
          $('#form-num-of-cigs').removeAttr('disabled');
          $('#form-num-of-cigs').attr("required");
        }
      });


      $('input[type=radio]').click(function () {
        if (this.id == "form-is-smoking-no") {
          $('#form-num-of-cigs').attr("required", "");
          $('#form-num-of-cigs').val('');
          $('#form-num-of-cigs').attr('disabled', 'disabled');
        }
      });

      $('input[type=radio]').click(function () {
        if (this.id == "form-is-know-ldl-cholestrol-yes") {
          $('#form-cholesterol-level').val('');
          $('#form-cholesterol-level').removeAttr('disabled');
          $('#form-cholesterol-level').attr("required");
        }
      });


      $('input[type=radio]').click(function () {
        if (this.id == "form-is-know-ldl-cholestrol-no") {
          $('#form-cholesterol-level').attr("required", "");
          $('#form-cholesterol-level').val('');
          $('#form-cholesterol-level').attr('disabled', 'disabled');
        }
      });

      $('input[type=radio]').click(function () {
        if (this.id == "form-is-know-glucode-level-yes") {
          $('#form-glucose-level').val('');
          $('#form-glucose-level').removeAttr('disabled');
          $('#form-glucose-level').attr("required");
        }
      });


      $('input[type=radio]').click(function () {
        if (this.id == "form-is-know-glucode-level-no") {
          $('#form-glucose-level').attr("required", "");
          $('#form-glucose-level').val('');
          $('#form-glucose-level').attr('disabled', 'disabled');
        }
      });


      $("#main-prediction-form").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        if ($('input[type=radio][name=form-gender]:checked').length == 0) {
          alert("Jenis kelamin perlu diisi");
          return false;
        }

        if ($('input[type=radio][name=form-is-consume-bpmed]:checked').length == 0) {
          alert("Mengkonsumsi obat tekanan darah perlu diisi");
          return false;
        }

        if ($('input[type=radio][name=form-is-prevalent-stroke]:checked').length == 0) {
          alert("Memiliki riwayat stroke perlu diisi");
          return false;
        }

        if ($('input[type=radio][name=form-is-prevalent-hypertension]:checked').length == 0) {
          alert("Memiliki riwayat hipertensi perlu diisi");
          return false;
        }

        if ($('input[type=radio][name=form-is-prevalent-diabetes]:checked').length == 0) {
          alert("Memiliki riwayat diabetes perlu diisi");
          return false;
        }

        if ($('input[type=radio][name=form-is-smoking]:checked').length == 0) {
          alert("Perokok aktif perlu diisi");
          return false;
        }

        var glucose_levels = parseFloat($("#form-glucose-level").val())
        if (Number.isNaN(glucose_levels)) {
          glucose_levels = 140.0
        }

        var cholesterol_levels = parseFloat($("#form-cholesterol-level").val())
        if (Number.isNaN(cholesterol_levels)) {
          cholesterol_levels = 200.0
        }

        var body = {
          age: parseFloat($("#form-age").val()),
          sex: parseFloat($("input[type='radio'][name='form-gender']:checked").val()),
          is_smoking: parseFloat($("input[type='radio'][name='form-is-smoking']:checked").val()),
          cigs_per_day: parseFloat($("#form-num-of-cigs").val() ? $("#form-num-of-cigs").val() : "0"),
          blood_pressure_med_consumption: parseFloat($("input[type='radio'][name='form-is-consume-bpmed']:checked").val()),
          prevalent_stroke: parseFloat($("input[type='radio'][name='form-is-prevalent-stroke']:checked").val()),
          prevalent_hypertension: parseFloat($("input[type='radio'][name='form-is-prevalent-hypertension']:checked").val()),
          cholesterol_levels: cholesterol_levels,
          prevalent_diabetes: parseFloat($("input[type='radio'][name='form-is-prevalent-diabetes']:checked").val()),
          systolic_blood_pressure: parseFloat($("#form-sistolic-bp").val()),
          diastolic_blood_pressure: parseFloat($("#form-diastolic-bp").val()),
          body_mass_index: parseFloat($("#form-bmi").val()),
          heart_rate: parseFloat($("#form-heart-rate").val()),
          glucose_levels: glucose_levels,
        };


        $.ajax({
          type: "POST",
          url: "/predict",
          data: JSON.stringify(body),
          dataType: "json",
          contentType: 'application/json',
          encode: true,
          success: function (data, textStatus, xhr) {
            var pred = data['prediction']
            var res_sigmoid = data['probability']

            // check data pred id Nan
            if (isNaN(pred)) {
              alert("Failed to predict, please try again");
              return false;
            }

            if (pred == '1') {
              // $('#result-modal-description-true').text('YOU WILL DEATH TOMORROW');
              $('#result-modal-description-true').text('Data yang dimasukan dapat diklasifikasikan sebagai BERPOTENSI mengidap Penyakit Jantung Koroner dengan tingkat keyakinan ' + floatToPercentage(parseFloat(res_sigmoid)));
              $("#result-modal-diagnosed").modal('show');
            } else {
              $('#result-modal-description-false').text('Data yang dimasukan dapat diklasifikasikan sebagai TIDAK BERPOTENSI mengidap Penyakit Jantung Koroner dengan tingkat keyakinan ' + floatToPercentage(1 - parseFloat(res_sigmoid)));
              $("#result-modal-safe").modal('show');
            }
          },
          fail: function (xhr, textStatus, errorThrown) {
            alert('failed to process input');
          }
        })


      });
    });

    function calculateBMI() {
      var height = $("#form-height").val();
      var weight = $("#form-weight").val();


      var bmi = weight / (height / 100 * height / 100);
      return bmi;
    }

    function floatToPercentage(num) {
      return (num * 100).toFixed(2) + '%';
    }

    function clearForm() {

      $('#form-gender-male').prop('checked', false);
      $('#form-gender-female').prop('checked', false);

      $('#form-is-consume-bpmed-yes').prop('checked', false);
      $('#form-is-consume-bpmed-no').prop('checked', false);

      $('#form-is-prevalent-stroke-yes').prop('checked', false);
      $('#form-is-prevalent-stroke-no').prop('checked', false);


      $('#form-is-prevalent-hypertension-yes').prop('checked', false);
      $('#form-is-prevalent-hypertension-no').prop('checked', false);

      $('#form-is-prevalent-diabetes-yes').prop('checked', false);
      $('#form-is-prevalent-diabetes-no').prop('checked', false);

      $('#form-is-smoking-yes').prop('checked', false);
      $('#form-is-smoking-no').prop('checked', false);

      $('#form-is-know-ldl-cholestrol-yes').prop('checked', false);
      $('#form-is-know-ldl-cholestrol-no').prop('checked', false);

      $('#form-is-know-glucode-level-yes').prop('checked', false);
      $('#form-is-know-glucode-level-no').prop('checked', false);

      $('#form-num-of-cigs').val('');

      $('#form-num-of-cigs').attr('disabled', 'disabled');

      $('#form-cholesterol-level').val('');

      $('#form-sistolic-bp').val('');

      $('#form-diastolic-bp').val('');

      $('#form-glucose-level').val('');

      $('#form-heart-rate').val('');

      // $('#form-height').val('');

      $('#form-weight').val('');

      $('#form-age').val('');
    }
  </script>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <div class="container">
    <main>

      <h4 class="pt-3 text-center pb-2 font-weight-bold">Isilah Form dibawah untuk melakukan prediksi</h4>

      <form id="main-prediction-form">

        <div class="form-group row">

          <label for="form-gender" class="col-sm-4 font-weight-bold">Jenis Kelamin : </label>
          <div class="col-sm-7 mx-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-gender" id="form-gender-male" value="1">
              <label class="form-check-label mr-5" for="form-gender-male">Pria</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-gender" id="form-gender-female" value="0">
              <label class="form-check-label" for="form-gender-female">Wanita</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="form-is-consume-bpmed" class="col-sm-4 font-weight-bold">Mengkonsumsi Obat Tekanan Darah :
          </label>
          <div class="col-sm-7 mx-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-is-consume-bpmed" id="form-is-consume-bpmed-yes"
                value="1">
              <label class="form-check-label mr-5" for="form-is-consume-bpmed-yes">Ya</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-is-consume-bpmed" id="form-is-consume-bpmed-no"
                value="0">
              <label class="form-check-label" for="form-is-consume-bpmed-no">Tidak</label>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <label for="form-is-prevalent-stroke" class="col-sm-4 font-weight-bold">Memiliki Riwayat Stroke : </label>
          <div class="col-sm-7 mx-3 mx-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-is-prevalent-stroke"
                id="form-is-prevalent-stroke-yes" value="1">
              <label class="form-check-label mr-5" for="form-is-prevalent-stroke-yes">Ya</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-is-prevalent-stroke"
                id="form-is-prevalent-stroke-no" value="0">
              <label class="form-check-label" for="form-is-prevalent-stroke-no">Tidak</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="form-is-prevalent-hypertension" class="col-sm-4 font-weight-bold">Memiliki Riwayat Hipertensi :
          </label>
          <div class="col-sm-7 mx-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-is-prevalent-hypertension"
                id="form-is-prevalent-hypertension-yes" value="1">
              <label class="form-check-label mr-5" for="form-is-prevalent-hypertension-yes">Ya</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-is-prevalent-hypertension"
                id="form-is-prevalent-hypertension-no" value="0">
              <label class="form-check-label" for="form-is-prevalent-hypertension-no">Tidak</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="form-is-prevalent-diabetes" class="col-sm-4 font-weight-bold">Memiliki Riwayat Diabetes : </label>
          <div class="col-sm-7 mx-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-is-prevalent-diabetes"
                id="form-is-prevalent-diabetes-yes" value="1">
              <label class="form-check-label mr-5" for="form-is-prevalent-diabetes-yes">Ya</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-is-prevalent-diabetes"
                id="form-is-prevalent-diabetes-no" value="0">
              <label class="form-check-label" for="form-is-prevalent-diabetes-no">Tidak</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="form-is-smoking" class="col-sm-4 font-weight-bold">Perokok Aktif : </label>
          <div class="col-sm-7 mx-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-is-smoking" id="form-is-smoking-yes" value="1">
              <label class="form-check-label mr-5" for="form-is-smoking-yes">Ya</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-is-smoking" id="form-is-smoking-no" value="0">
              <label class="form-check-label" for="form-is-smoking-no">Tidak</label>
            </div>
          </div>
        </div>

        <div>
          <div class="form-group row">
            <label for="form-num-of-cigs" class="col-sm-4 font-weight-bold">Rata-rata Konsumsi Rokok Perhari (pcs) :
            </label>
            <input name="form-num-of-cigs" type="number" class="form-control col-sm-7 mx-3" id="form-num-of-cigs"
              placeholder="Masukan rata-rata jumlah konsumsi rokok harian" disabled>
          </div>
        </div>

        <div class="form-group row">
          <label for="form-is-know-ldl-cholestrol" class="col-sm-4 font-weight-bold">Mengetahui LDL Kolesterol :
          </label>
          <div class="col-sm-7 mx-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-is-know-ldl-cholestrol"
                id="form-is-know-ldl-cholestrol-yes" value="1">
              <label class="form-check-label mr-5" for="form-is-know-ldl-cholestrol-yes">Ya</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-is-know-ldl-cholestrol"
                id="form-is-know-ldl-cholestrol-no" value="0">
              <label class="form-check-label" for="form-is-know-ldl-cholestrol-no">Tidak</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="form-cholesterol-level" class="col-sm-4 font-weight-bold">LDL kolesterol (mg/dL) : </label>
          <input name="form-cholesterol-level" type="number" class="form-control col-sm-7 mx-3" step="0.01"
            id="form-cholesterol-level" placeholder="masukan nilai ldl kolesterol" disabled>
        </div>

        <div class="form-group row">
          <label for="form-is-know-glucode-level" class="col-sm-4 font-weight-bold">Mengetahui Glukosa Darah :
          </label>
          <div class="col-sm-7 mx-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-is-know-glucode-level"
                id="form-is-know-glucode-level-yes" value="1">
              <label class="form-check-label mr-5" for="form-is-know-glucode-level-yes">Ya</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-is-know-glucode-level"
                id="form-is-know-glucode-level-no" value="0">
              <label class="form-check-label" for="form-is-know-glucode-level-no">Tidak</label>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <label for="form-glucose-level" class="col-sm-4 font-weight-bold">Tingkat Glukosa Darah (mg/dL) : </label>
          <input name="form-glucose-level" type="number" class="form-control col-sm-7 mx-3" id="form-glucose-level"
            step="0.01" placeholder="masukan tingkat glukosa darah" disabled>
        </div>

        <div class="form-group row">
          <label for="form-sistolic-bp" class="col-sm-4 font-weight-bold">Tekanan Darah Sistolic (mmHg) : </label>
          <input name="form-sistolic-bp" type="number" class="form-control col-sm-7 mx-3" id="form-sistolic-bp"
            step="0.01" placeholder="masukan nilai tekanan darah sistolik" required>
        </div>

        <div class="form-group row">
          <label for="form-diastolic-bp" class="col-sm-4 font-weight-bold">Tekanan Darah Diastolik (mmHg) : </label>
          <input name="form-diastolic-bp" type="number" class="form-control col-sm-7 mx-3" id="form-diastolic-bp"
            step="0.01" placeholder="masukan nilai tekanan darah diastolik" required>
        </div>

        <div class="form-group row">
          <label for="form-heart-rate" class="col-sm-4 font-weight-bold">Rata-rata Detak Jantung (bpm) : </label>
          <input name="form-heart-rate" type="number" class="form-control col-sm-7 mx-3" id="form-heart-rate"
            step="0.01" placeholder="masukan rata-rata detak jantung" required>
        </div>

        <!-- <div class="form-group row">
          <label for="form-height" class="col-sm-4 font-weight-bold">Tinggi (cm) : </label>
          <input name="form-height" type="number" class="form-control col-sm-7 mx-3" id="form-height"
            placeholder="masukan tinggi badan" required>
        </div> -->

        <div class="form-group row">
          <label for="form-bmi" class="col-sm-4 font-weight-bold">BMI (body mass index)</label>
          <input name="form-bmi" type="number" class="form-control col-sm-5 mx-3" id="form-bmi" step="0.01"
            placeholder="masukan BMI badan anda" required>
          <a href="https://hellosehat.com/health-tools/kalkulator-bmi/" target="1" class="col-sm-2">Hitung Disini</a>
        </div>

        <div class="form-group row">
          <label for="form-age" class="col-sm-4 font-weight-bold">Umur : </label>
          <input name="form-age" type="number" class="form-control col-sm-7 mx-3" id="form-age"
            placeholder="masukan umur anda" required>
        </div>


        <div class="form-group text-center m-3">
          <button type="button" class="btn btn-light mr-5 px-4" data-toggle="modal"
            data-target="#clear-form-modal">Bersihkan</button>
          <button type="submit" class="btn btn-submit btn-primary ml-5 px-4">Submit</button>
        </div>
      </form>

      <!-- Confirmation Clear Form Modal -->
      <div class="modal fade" id="clear-form-modal" tabindex="-1" role="dialog" aria-labelledby="clear-form-modal-label"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="clear-form-modal-label">Konfirmasi</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Apakah anda ingin menghapus semua input?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
              <button type="button" class="btn btn-primary" id="btn-clear-form" onclick="clearForm()"
                data-dismiss="modal"> Hapus isian form</button>
            </div>
          </div>
        </div>
      </div>

      <!-- modal result prediction -->
      <div class="modal fade" id="result-modal-safe" tabindex="-1" role="dialog" aria-labelledby="result-modal-label"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color: lightgreen;">
              <h5 class="modal-title" id="result-modal-label">Hasil Prediksi</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="result-modal-description-false">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            </div>
          </div>
        </div>
      </div>

      <!-- modal result prediction -->
      <div class="modal fade" id="result-modal-diagnosed" tabindex="-1" role="dialog"
        aria-labelledby="result-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #ff8063;">
              <h5 class="modal-title" id="result-modal-label">Hasil Prediksi</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="result-modal-description-true">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            </div>
          </div>
        </div>
      </div>

    </main>
  </div>



  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>